<component name="ProjectDictionaryState">
  <dictionary name="SYSTEM">
    <words>
      <w>classinfo</w>
      <w>maxlength</w>
      <w>qcloud</w>
      <w>skipfirst</w>
      <w>splited</w>
      <w>sysinfo</w>
      <w>textarea</w>
      <w>thead</w>
      <w>topbar</w>
    </words>
  </dictionary>
</component>